version: '3.9'
services:
  frontend:
    build: ./frontend
    depends_on:
      - backend
    networks:
      - react-express
      - frontend-nginx
    deploy:
      resources:
        limits:
          cpus: "0.50"
          memory: 512m
          pids: 100
        reservations:
          cpus: "0.25"
          memory: 256m
    restart: always
    
  backend:
    build: ./backend
    depends_on:
      - mongo
    networks:
      - react-express
      - express-mongo
    restart: always


  mongo:
    image: mongo:4.2.0
    volumes:
      - mongo_data:/data/db
    networks:
      - express-mongo
    restart: always

  nginx:
    image: nginx:latest
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "8080:80"
    depends_on:
      - frontend
    networks:
      - frontend-nginx

networks:
  react-express:
  express-mongo:
  frontend-nginx:

volumes:
  mongo_data:

